<html>
    <head>
        
        <!-- meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
       
    </head>
    <body>
        <h1>eKnjizara </h1>
        <div class="login-form">
            <h2>Reset lozinke</h2>
            <form  id="form">

                
                <div class="form-group">
                    <label>Stara lozinka: </label>
                    <div>
                        <input id="password" name="password" class="form-control" type="password" autocomplete="off"  required/>
                        <i class="validation"><span></span><span></span></i>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nova lozinka: </label>
                    <div>
                        <input id="password" name="password" class="form-control" type="password" autocomplete="off"  required/>
                        <i class="validation"><span></span><span></span></i>
                    </div>
                </div>


                
                <input type="submit" class="form-control btn btn-primary" value="Povrdi izmjenu lozinke" />


            </form>
            
        </div>
        
    
    </body>

</html>

