<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="uplataId" [value]="service.formData.uplataId" />
    <div class="form-group">
        <label>Korinsik: </label>
        <input class="form-control form-control-lg" placeholder="Naziv žanra" name="korisnikId"
            #korisnikId="ngModel" [(ngModel)]="service.formData.korisnikId"
            required [class.invalid]="korisnikId.invalid && korisnikId.touched">
    </div>
    <div class="form-group">
        <label>Datum: </label>
        <input type="date" class="form-control form-control-lg" placeholder="Datum" name="datum"
            #datum="ngModel" [(ngModel)]="service.formData.datum"
            required [class.invalid]="datum.invalid && datum.touched">
    </div>
    <div class="form-group">
        <label>Visina uplate: </label>
        <input class="form-control form-control-lg" placeholder="Visina uplate" name="visinaUplate"
            #visinaUplate="ngModel" [(ngModel)]="service.formData.visinaUplate"
            required [class.invalid]="visinaUplate.invalid && visinaUplate.touched">
    </div>
    
    
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SPREMI</button>
    </div>
</form>