<mat-nav-list>
  <div class="logo">
    <img src="../../assets/cover2.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">ALATI</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/knjiga/knjiga-list"> <mat-icon>book</mat-icon> Knjige </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pisac/pisac-list"> <mat-icon>people</mat-icon> Pisci </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/zanr/zanr-list"> <mat-icon>theaters</mat-icon> Zanrovi </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/promocija/promocija-list"> <mat-icon>receipt</mat-icon> Promocija </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/korisnickiracun/korisnickiracun-list"> <mat-icon>account_box</mat-icon> Korisnički računi </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/korisnik/korisnik-list"> <mat-icon>people</mat-icon> Korisnici </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clanskakarta/clanskakarta-list"> <mat-icon>card_giftcard</mat-icon> Clanske kartice </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/uplata/uplata-list"> <mat-icon>money</mat-icon> Uplate </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/narudzba/narudzba-list"> <mat-icon>reorder</mat-icon> Narudžbe </a>
 
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
