<div class="form-group row"></div>
<div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
    <div class="col-sm-6">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="searchfilter">
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            
            <th scope="col">Naziv knjige</th>
            <th scope="col">PisacId</th>
            <th scope="col">ZanrId</th>
            <th scope="col">Cijena</th>
            <th scope="col">naStanju</th>
            <th scope="col">Kolicina</th>
            <th scope="col">eKnjiga</th>

        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let i of listKnjiga|searchfilter:searchValue">
            
            
            <td scope="col">{{i.nazivKnjige}}</td>
            <td scope="col">{{i.pisacId}}</td>
            <td scope="col">{{i.zanrId}}</td>
            <td scope="col">{{i.cijena+'KM'}}</td>
            
                <td scope="col" *ngIf="i.naStanju==1;else other_content">Ima</td>
            
            <ng-template #other_content><td scope="col">Nema</td></ng-template>
            <td scope="col">{{i.kolicina}}</td>
            <td scope="col">{{i.eKnjiga}}</td>

            
        </tr>
        
    </tbody>
</table>