<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      
  
<div class="jumbotron py-3">
    <h1 >Prikaz narudžbe</h1>
</div>

<div class="row">
   
    <div class="col-md-12">
        <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Pretraga:</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="searchValueNarudzba" class="form-control" id="searchfilterNarudzba">
            </div>
        </div>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Narudžba broj:</th>
                    <th>Korisnik:</th>
                    <th>Cijena:</th>
                    <th>Datum/vrijeme:</th>
                    <th>Knjiga:</th> 
                    <th>Obriši:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list|searchfilterNarudzba:searchValueNarudzba">
                    <td (click)="populateForm(pd)">{{pd.narudzbaId}}</td>
                    <td (click)="populateForm(pd)">{{pd.korisnikId}}</td>
                    <td (click)="populateForm(pd)">{{pd.cijena}}</td>
                    <td (click)="populateForm(pd)">{{pd.datumVrijeme | date: 'dd/MM/yyyy'}}</td>
                    <td (click)="populateForm(pd)">{{pd.knjigaId}}</td>
                 
                    <td>
                        <button class="btn btn-danger" (click)="onDelete(pd.korisnickiracunId)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</mat-drawer-content>
</mat-drawer-container>