<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      
  
<div class="jumbotron py-3">
    <h1 >Prikaz promocija</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <br>
        <app-promocija-detail-form></app-promocija-detail-form>
        
    </div>
    <div class="col-md-8">
        <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Pretraga:</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="searchValuePromocija" class="form-control" id="searchfilterPromocija">
            </div>
        </div>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Naziv promocije:</th>
                    <th>Vrsta:</th>
                    <th>Popust (%):</th>
               
                    <th>Obriši</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list|searchfilterPromocija:searchValuePromocija">
                    <td (click)="populateForm(pd)">{{pd.naziv}}</td>
                    <td (click)="populateForm(pd)">{{pd.vrstaPromocije}}</td>
                    <td (click)="populateForm(pd)">{{pd.popust}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="onDelete(pd.promocijaId)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</mat-drawer-content>
</mat-drawer-container>