<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      
  
<div class="jumbotron py-3">
    <h1 >Prikaz uplata</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <br>
        <app-uplata-detail-form></app-uplata-detail-form>
        
    </div>
    <div class="col-md-8">
        <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Pretraga:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="searchfilter">
            </div>
        </div>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Korisnik:</th>
                    <th>Datum uplate:</th>
                    <th>Visina uplate:</th>
                    
                    <th>Obriši</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.korisnikId}}</td>
                    <td (click)="populateForm(pd)">{{pd.datum | date: 'dd/MM/yyyy'}}</td>
                    <td (click)="populateForm(pd)">{{pd.visinaUplate}} KM</td>
                    
                    <td>
                        <button class="btn btn-danger" (click)="onDelete(pd.uplataId)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</mat-drawer-content>
</mat-drawer-container>